*.class

# Package Files #
*.jar
*.war
*.ear

build/
bin/
eclipse/
gradle/
mcp/
.gradle/
.settings/
logs/
build.gradle
CREDITS-fml.txt
forge-1.7.2-10.12.0.977-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
.classpath
.project
MinecraftForge-Credits.txt
MinecraftForge-License.txt
